[Unit]
Description=Aria2 Downloader
After=dhcpcd.service
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/aria2c --conf-path=/home/kaaass/.config/aria2/aria2.conf
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
KillMode=mixed

[Install]
WantedBy=multi-user.target
